<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
</head>
<body>
    <nav id="navbar">
        <a href="/">Home</a>
        <a href="/restaurants">Restaurants</a>
    </nav>
    <div class="content">
        {{{ body }}} 
    </div>
    <script>
        window.onscroll = () => {
        const nav = document.querySelector("#navbar");
        if(this.scrollY <= 10)
        nav.className = ''; else
        nav.className = 'scroll' 
    }
    </script>
</body>
</html>