@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: url(https://cdn.dribbble.com/users/383120/screenshots/6178517/drib_kitchen.png) no-repeat center center fixed; 
    background-size: cover;
    padding: 0 16px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: background-color 0.4s ease-out;
}

.content {
  margin-top: 60px;
}

nav a {
  font-family: 'Gochi Hand', cursive;
  color: #252764;
  font-size: 50px;
  margin-left: 16px;
}

.scroll {
  background-color: #f4f2ee;
  
}


a {
  text-decoration: none;
}

h2, label {
    font-size: 1.15rem;
    line-height: 1.1rem;
    margin-bottom: 8px;
    color: #636363; 
    font-family: 'Lato','Arial',sans-serif;
}

.featured-listings {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* article:hover{
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
} */

article {
    background: #fff;
    /* width: 320px; */
    height: 400px;
    /* border-radius: 10px; */
    border: 4px solid #252764;
    text-align: center;
    box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
    overflow: hidden;
    margin-bottom: 16px;
}

header {
    height: 50%;
    background: #000 center no-repeat;
    background-size: cover;
    position: relative;
    text-align: left;
  }

.favourite-btn {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    position: relative;
    top: 173px;
    left: 24px;
    border: 2px solid #fff;
    background: #252764;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favourite-btn:hover {
    filter: brightness(125%);
    cursor: pointer;
}

main {
    padding: 24px;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 0.95rem;
    color: #636363;
  }

main span {
  color: #636363;
}

.menu-card, .restaurant-img {
  background: #fff;
  border: 4px solid #252764;
  box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
  overflow: hidden;
  margin-bottom: 16px;
}

dl div {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.menu-title {
  font-family: 'Gochi Hand', cursive;
  color: #252764;
  font-size: 30px;
  text-transform: uppercase;
}

.restaurant-name {
  font-size: 40px;
  padding: 0.5rem;
  color: whitesmoke;
  font-family: 'Gochi Hand', cursive;
  text-transform: uppercase;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.5);
}

.restaurant-name p {
  display: inline;
}

.restaurant-img {
    width: 99%;
    height: 20vh;
    object-fit: cover;
}

dt {
  text-transform: capitalize;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 60px; */
}

label {
  margin-top: 8px;
}

input, button {
  width: 50%;
  margin-bottom: 8px;
  font-family: 'Lato','Arial',sans-serif;
  font-size: 0.95rem;
  color: #636363;
}

button {
  margin-top: 8px;
  height: 36px;
  background-color: #252764;
  color: white;
  border: none;
  cursor: pointer;
}

.fa-trash-alt, .fa-edit {
  color: whitesmoke;
  font-size: 32px;
}

/* css for mobile goes here */
@media screen and (min-width: 40em) {
  /* css for mid screens goes here */
  section{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: none;
      gap: 1rem;
  }
  article{
    margin-bottom: 0px;
  }
  .menu-card {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 70em) {
  /* css for massive screens goes here */
  section{
      grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 100em) {
  /* css for massive screens goes here */
  section{
      grid-template-columns: auto auto auto auto;
  }
}